# Python & Environment
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Jupyter & IDE
.ipynb_checkpoints
.vscode/
.idea/

# Scratch & Temporary Logs
scratch/
*.log
.system_generated/
